#termsAndConditions{
  border: none;
  background-color: inherit;
  color: blue;
  display: inline-block;
}
.btnCenter{
  background-color: #F3BF05;
  border: inherit;
  border-radius: 2%;
  float: right;
  display: block;
  margin: 10%;
}
#registroPage{
  margin: 20%;
  background-color: #E6E6E6;
}
body{
  background-color: #E6E6E6;
}
#registrapp{
  width: 400px;
  height: 200px;
  margin-top: 20%;
}
#preload {
  width: 100vw;
  height: 100vh;
  background: #F3BF05;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
#imglogo{
  display: block;
  margin: auto;
  margin-top: 50%;
}

.loader-container {
  width: 70px;
  height: 70px;
  margin: auto;
  position: relative;
}

.loader1, .loader2 {
  position: absolute;
  border: 5px solid transparent;
  border-radius: 50%;
}


.loader1 {
  width: 70px;
  height: 70px;
  border-top: 5px solid azure;
  border-bottom: 5px solid azure;
  animation: clockwisespin 2s linear 3;
}

.loader2 {
  width: 60px;
  height: 60px;
  border-left: 5px solid black;
  border-right: 5px solid black;
  animation: anticlockwisespin 2s linear 3;
}

.container{
  display: none;
  margin: 0%;
}

#mapa{
  width: 90%;
  height: 20%;
}
#user{
  width: 200px;
  height: 200px;
  text-align: center;
  display: inline-block;
}
h4{
  display: inline-block;
}
#icon{
  background-color: #F3BF05;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
#respuestaPage{
  margin: 10%;
  display: none;
}
#registroPage{
  display: none;
}
.adminPage{
  margin: 20%;
  display: none;
  display: block;
}
h4{
  margin-left: 30%;
}
#preload{
  background-color: #F3BF05;
  text-align: center;
}
#gif{
  width: 150px;
  height: 150px;
  margin-bottom: 40%;
}
#imglogo{
  margin-top: 10%;
  width: 200px;
  height: 200px;
}
.btnVolver{
  background-color: #F3BF05;
  border: inherit;
  border-radius: 2%;
  float: right;
  display: block;
  margin: 10%;
}
#backToInit{
  float: left;
}

#tablePage{
  display: none;
  
}

@keyframes clockwisespin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

