#termsAndConditions{
  border: none;
  background-color: inherit;
  color: blue;
  display: inline-block;
}
.btnCenter{
  background-color: #F3BF05;
  border: inherit;
  border-radius: 2%;
  float: right;
}
#registroPage{
  margin: 20%;
  background-color: #E6E6E6;
}
body{
  background-color: #E6E6E6;
}
#mapa{
  width: 90%;
  height: 20%;
}
#user{
  width: 200px;
  height: 200px;
  text-align: center;
  display: inline-block;
}
h4{
  display: inline-block;
}
#icon{
  background-color: #F3BF05;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
#respuestaPage{
  margin: 10%;
}